HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw
hospital-manage.iml
.mvn/
mvnw.cmd
.iml
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
将删除 .gitignore
将删除 common/common_util/target/generated-sources/
将删除 common/service_util/target/generated-sources/
将删除 model/target/generated-sources/
将删除 service/serivce_hosp/target/classes/application.properties
将删除 service/serivce_hosp/target/classes/com/wjh/yygh/mapper/xml/
将删除 service/serivce_hosp/target/classes/logback-spring.xml
将删除 service/serivce_hosp/target/generated-sources/
将删除 service/serivce_hosp/target/generated-test-sources/
将删除 service/service_cmn/target/classes/application.properties
将删除 service/service_cmn/target/classes/com/wjh/yygh/cmn/mapper/xml/
将删除 service/service_cmn/target/generated-sources/
将删除 service/service_cmn/target/generated-test-sources/
将删除 service_client/service_cmn_client/src/test/
将删除 service_client/service_cmn_client/target/classes/application.properties
将删除 service_client/service_cmn_client/target/generated-sources/
将删除 yygh_gateway/target/classes/application.properties
将删除 yygh_gateway/target/classes/application.yml
将删除 yygh_gateway/target/generated-sources/
